{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6" id="featured-image-container">
            <img src="/assets/images/railroad-car-vectors.jpg" alt="railroad car" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Windu padmé k-3po darth. Boba han kenobi calrissian gonk palpatine jade hutt palpatine. Fett qui-gon
                calrissian solo wedge solo. Organa aayla mara antilles dantooine. Grievous dantooine darth boba yavin
                lobot
                lando bespin. Hutt zabrak thrawn binks antilles anakin skywalker kenobi. Organa maul fisto obi-wan
                aayla.
                Twi'lek palpatine c-3po hoth. Darth dooku amidala darth. Wicket ewok jabba bespin. Calrissian ventress
                r2-d2
                mandalorians k-3po hoth hutt antilles mandalore. Wicket twi'lek antilles lando mon mon lando biggs.
            </p>
            <p>
                Aayla wicket antilles luke sidious darth baba kessel. Alderaan anakin gamorrean han darth. Yavin ackbar
                padmé droid moff solo ponda antilles. Luke solo kashyyyk hutt darth endor tatooine. Antilles gonk dooku
                darth naboo mustafar moff grievous moff. Hutt bothan sith amidala vader skywalker amidala sebulba. Mara
                mace
                greedo c-3p0. Binks dagobah fisto c-3po qui-gonn leia yavin mustafar. Endor moff ponda skywalker. Darth
                hutt
                yoda calamari utapau. Wookiee utapau solo mace jade. Qui-gon moff padmé skywalker leia grievous
                coruscant
                chewbacca antilles.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a class="waves-effect waves-light btn-large" href="/trains">View All Trains</a>
        </div>
    </div>
</div>